*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
  font-family: sans-serif;
}
input {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  background: #3C3C3C;
  color: #A0A0A0;
  border: none;
  outline: none;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: auto;
  display: inline;
  padding: 10px 20px;
  color: #ffffff;
  background: #000000;
  border: none;
  border-radius: 5px;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin: 10px 0;
}
input[type="color"] {
  width: 80px;
  height: 33px;
  padding: 3px 4px;
}
