*{
  margin: 0;
  padding: 0;
}
h1 a{
  color: #fff;
  font-size: 25px;
  padding: 25px; 
  background: var(--clr);
  font-weight: normal;
  font-size: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
p{
  color: #6A966A;
  padding: 20px 0 0 25px;
  line-height: 25px;
}
ol{
  padding: 15px 0 15px 50px;
  list-style: outside decimal-leading-zero;
  /* list-style-type: decimal-leading-zero; */

}
li{
  text-transform: uppercase;
  padding-left: 5px;
  color: var(--clr);
  transition: .2s all linear;
  animation: li .5s ease-in;
}
@keyframes li{
  0%{
    transform: translateX(-50px)
  }
  100%{
    transform: translateX(0)
  }
}
li:hover{
  margin-left: 25px;
}
li a{
  display: block;
  color: inherit;
  text-decoration: none;
  padding-left: 8px;
  line-height: 40px;
  font-size: 16px;
  transition: .2s all linear;
  transform: translateX(0);
  animation: ol .5s ease-in;
}
li a:hover{
  background: var(--clr);
  margin-left: -45px;
  padding-left: 45px;
  color: #FFFFFF;
}
@keyframes ol{
  0%{
    transform: translateX(150px)
  }
  100%{
    transform: translateX(0)
  }
}
.css_link{
  font-size: 16px;
  padding: 25px;
  background: var(--clr);
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: .2s all linear;
}
.css_link:hover{
  transform: scale(1.2)
}
.advance{
  padding: 10px 0;
  text-transform: uppercase;
  color: #6A966A;
  font-size: 14px;
  display: block;
}
.point{
  padding: 0 10px;
  text-transform: uppercase;
  color: #6A966A;
  font-size: 12px;
}