table{
  width: 100%;
}
caption{
  padding: 30px 0 15px 0;
}
table, th, td{
  border: 1px solid #fff;
  border-collapse: collapse
}
th, td{
  padding: 10px;
  text-align: center;
}
  
.cell__padding th, .cell__padding td{
  padding: 10px;
}
  
.cell__Spacing, .cell__Spacing th, .cell__Spacing td{
  border-collapse: separate;
  border-spacing: 10px;
  padding: 0;
}
  
.row__background tr:nth-child(odd){
  background: rgba(5, 152, 255, 0.53)
}
.col__background th:nth-child(even), .col__background td:nth-child(even){
  background: rgba(5, 152, 255, 0.53)
}
.hr__divider, .hr__divider th, .hr__divider td{
  border: none;
  border-bottom: 1px solid #fff;
}