* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 15px;
  font-family: sans-serif;
}
input {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  background: #3C3C3C;
  color: #A0A0A0;
  border: none;
  outline: none;
}
input:hover{
 background: #2F2F2F; 
}