*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  font-size: 20px;
  padding: 30px;
  text-align: center;
  color: #ffffff;
  background: #4f4f4f;
}
.section {
  background: #cecece;
  display: flex;
}
.nav {
  padding: 40px 0;
  font-size: 16px;
  background: #cecece;
  flex: 1;
}
.nav li {
  list-style: none;
}
.nav li a {
  display: block;
  padding: 15px 30px;
  color: #000000;
  text-decoration: none;
}
.article {
  padding: 50px 30px;
  background: #f1f1f1;
  flex: 2;
}
.article h2 {
  font-size: 18px;
  color: #000000;
  padding: 15px 0;
}
.article p {
  line-height: 25px;
  color: #717171;
}
.footer {
  padding: 25px;
  color: #ffffff;
  background: #4f4f4f;
  text-align: center;
  text-transform: capitalize;
}
.footer span {
  color: #6A77FF;
}
@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
}
